---
layout: default
title: Links
seo:
  title: Links
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false

linkgruppen:
  - titel: Jodeln
    links:
      - text: Eidgenössischer Jodlerverband EJV
        url: "https://www.jodlerverband.ch/de/"
        verband: true
        blank: true

      - text: Eidgenössische Jodler-Dirigenten Vereinigung
        url: "https://www.ejdkv.ch/"
        verband: true
        blank: true

  - titel: Zentralschweizer Jodlerverband ZSJV
    links:
      - text: Zentralschweizer Jodlerverband ZSJV
        url: "https://www.zsjv.ch/"
        verband: true
        blank: true

      - text: Jodlerklub Echo vom Rigi Küssnacht
        url: "http://www.echovomrigi.ch"
        blank: true

      - text: Jodlerklub am Rigi Goldau
        url: "http://www.jodlerclubamrigi.ch"
        blank: true

      - text: Jolderklub Illgau
        url: "http://www.jodlerklub-illgau.ch"
        blank: true

      - text: Jodlerklub Alpenrösli Kriens
        url: "http://www.alperoesli-kriens.ch"
        blank: true

      - text: Schimbrigjodler - Jodlerklub Finsterwald
        url: "http://www.schimbrigjodler.ch"
        red: true
        blank: true

      - text: Jodlerklub Alpeglöggli Hasle
        url: "http://www.alpegloeggli-hasle.ch"
        blank: true

      - text: Fontanne-Chörli Schüpfheim
        url: "http://www.focho.ch"
        blank: true

      - text: Jodlerchörli Lehn
        url: "http://www.jodlerchoerli-lehn.ch"
        blank: true

      - text: Jodlerklub Edelweiss Luzern
        url: "https://www.jkedelweiss.ch/"
        blank: true

      - text: Heimatchörli Luzern
        url: "http://www.heimatchoerli.ch"
        blank: true

      - text: Jodlerklub Schlossgruess Cham
        url: "https://www.schlossgruess.ch/"
        blank: true

      - text: Jodlerklub Rothenthurm
        url: "https://www.jodlerklubrothenthurm.ch/"
        blank: true

      - text: Jodlerklub Muotathal
        url: "http://www.jodlerklub-muotathal.ch"
        blank: true

      - text: Jodlerklub Tälläbuebä Attinghausen
        url: "http://www.telljodler.ch"
        blank: true

      - text: Jodlerklub Luegisland Wollerau
        url: "http://www.jk-luegisland.gmxhome.de"
        red: true
        blank: true

      - text: Jodlerklub Heimelig Buochs
        url: "http://www.jodlerklub-heimelig.ch"
        blank: true

      - text: Jodlergruppe Bärgröseli Alpnachstad
        url: "https://www.baergroeseli.ch/"
        blank: true

      - text: Jodlerklub Bärgbrünneli Menzingen
        url: "http://www.baergbruenneli.ch"
        blank: true

      - text: Jodlerklub Flüeli-Ranft
        url: "https://www.jodler.ch/"
        blank: true

      - text: Jodlerklub Farnbüelglöggli Schachen
        url: "http://www.jodlerklub-schachen.ch"
        blank: true

      - text: Jodlerklub Fruttklänge Kerns
        url: "http://www.jodlerklub-kerns.ch"
        blank: true

      - text: Jodlerchörli Lehn Escholzmatt
        url: "http://www.jodlerchoerli-lehn.ch"
        blank: true

      - text: Jodlerdoppelquartett Zug
        url: "https://www.jdqzug.ch/"
        blank: true

      - text: Jodlerklub Edelweiss Ibach
        url: "https://www.jodlerklub-edelweiss-ibach.ch/"
        blank: true

      - text: Jodlerklub Alpenklänge Brunnen
        url: "http://www.jk-alpenklaenge.ch"
        blank: true

      - text: Jodelchörli am St. Johann Altendorf
        url: "http://www.jodelchoerli-altendorf.ch"
        blank: true

      - text: Kinder-Jodelchoerli-Zugerland
        url: "http://www.kinder-jodelchoerli-zugerland.ch"
        red: true
        blank: true

      - text: Jodelduett Kiser-Hodel
        red: true

      - text: Jodelduett Jolanda Betschart und Gaby Mettler
        url: "http://www.jodelduett.com"
        red: true
        blank: true

  - titel: Berner Kantonal Jodlerverband BKJV
    links:
      - text: Berner Kantonal Jodlerverband BKJV
        url: "https://www.bkjv.ch/"
        verband: true
        blank: true

      - text: Jodlerklub Hasle-Rüegsau
        url: "http://www.jodler-hasle.ch"
        blank: true

      - text: Jodlerklub Herzogenbuchsee
        url: "#"
        red: true
        blank: true

      - text: Jodlerklub Spiez
        url: "http://www.jodlerklub-spiez.ch"
        blank: true

      - text: Summiswalder Jodlerquartett
        url: "#"
        red: true
        blank: true

      - text: Jodlerklub Könizbärg
        url: "#"
        blank: true

      - text: Jodlerchörli Daheim Münsingen
        url: "http://www.jodlerchoerli.ch"
        blank: true

      - text: Jodlerklub Alpenrösli Münsingen
        url: "http://www.jkalpenroesli.ch"
        blank: true

      - text: Jodlerchörli Utzenstorf
        url: "#"
        red: true
        blank: true

      - text: Jodler - Doppelquartett Bärgfründe Thun
        url: "http://www.baergfruende-thun.ch"
        blank: true

      - text: Jodlerklub Thun
        url: "http://www.baergbaechli.ch"
        blank: true

      - text: Jodlerchörli Eriswil
        url: "#"
        red: true
        blank: true

      - text: Jodlerklub Maiglöggli Jegenstorf
        url: "http://www.maigloeggli-jegenstorf.ch"
        blank: true

      - text: Jodlerklub Burgdorf
        url: "#"
        red: true
        blank: true

      - text: Jodlerklub Schwarzenbach Huttwil
        url: "#"
        red: true
        blank: true

      - text: Chörli der Kantonspolizei Bern
        url: "#"
        red: true
        blank: true

      - text: Jodlerklub Heimelig Schwarzenburg
        url: "http://www.heimelig.com"
        blank: true

      - text: Jodlerklub Rinderberg Oeschseite
        url: "http://www.jodlerklub.rinderberg.beep.de"
        red: true
        blank: true

  - titel: Nordostschweizerischer Jodlerverband NOSJV
    links:
      - text: Nordostschweizerischer Jodlerverband NOSJV
        url: "https://nosjv.ch/"
        verband: true
        blank: true

      - text: Jodelclub Klein Rigi Schönenberg-Kradolf
        url: "#"
        red: true
        blank: true

      - text: Jodlerklub Benken SG
        url: "#"
        red: true
        blank: true

      - text: Engel-Chörli Appenzell
        url: "#"
        red: true
        blank: true

      - text: Jodlerklub Herisau-Säge
        url: "http://www.jodlerklub-herisau-saege.ch"
        blank: true

      - text: Jodlerclub Alpeblueme Herisau
        url: "http://www.alpeblueme.ch"
        blank: true

      - text: Schötze-Chörli Stein
        url: "http://www.schoetzechoerli.ch"
        blank: true

      - text: Jodlerclub Langnau
        url: "http://www.jodlerclub-langnau.ch"
        blank: true

      - text: Jodlerklub Hirzel
        url: "#"
        red: true
        blank: true

      - text: Jodelclub Thurtal Unterwasser
        url: "http://www.schaeflisepp.ch"
        red: true
        blank: true

      - text: Jodelchörli Sardona Flims
        url: "#"
        red: true
        blank: true

      - text: Stadtjodler im Fürstenland Gossau
        url: "http://www.stadtjodler.ch"
        blank: true

      - text: Jodelklub Eglisau
        url: "http://www.eglisau.ch"
        red: true
        blank: true

      - text: Stadtjodler Dietikon
        url: "http://www.stadtjodler-dietikon.ch"
        red: true
        blank: true

      - text: Jodler-Sextett des TV Alte Sektion Zürich
        url: "http://www.jodlersextettasz.ch"
        blank: true

      - text: Jodelklub Bülach
        url: "#"
        red: true
        blank: true

      - text: Jodlerklub Gonzen Sargans
        url: "http://www.jkgonzen.ch"
        blank: true

      - text: Jodelklub Schänis
        url: "http://www.jodelklub-schaenis.ch"
        blank: true

      - text: Jodlerklub Glärnisch Glarus
        url: "http://www.jodelklubglaernisch.ch"
        red: true
        blank: true

  - titel: Nordwestschweizerischer Jodlerverband NWSJV
    links:
      - text: Nordwestschweizerischer Jodlerverband NWSJV
        url: "https://www.nwsjv.ch/"
        verband: true
        blank: true

      - text: Jodlerclub Echo Basel
        url: "#"
        red: true
        blank: true

      - text: Schwarzbuebe-Jodler Dornach
        url: "http://www.schwarzbuebe-jodler.ch"
        blank: true

      - text: Jodlerklub Rheinfelden
        url: "http://www.jodlerklub-rheinfelden.ch"
        red: true
        blank: true

      - text: Keiser-Chörli Strengelbach
        url: "http://www.keiser-choerli.ch"
        red: true
        blank: true

      - text: Hobby-Chörli Männertreu Strengelbach
        url: "http://www.maennertreu.ch.vu"
        red: true
        blank: true

      - text: Jodlerklub Gunzgen
        url: "http://www.jodlerklub-gunzgen.ch"
        red: true
        blank: true

      - text: Jodlerchörli Wildenstein Bubendorf
        url: "http://www.jc-wildenstein.ch"
        blank: true

      - text: Jodlerchörli Seengen
        url: "http://www.jodlerchoerli-seengen.ch"
        red: true
        blank: true

      - text: Jodlerklub Allschwil
        url: "http://www.jodlerkluballschwil.ch"
        red: true
        blank: true

      - text: Jodlerklub Farnsburg Gelterkinden
        url: "http://jodlerklub-farnsburg.ch.vu"
        red: true
        blank: true

  - titel: Auslandschweizer-Vereine
    links:
      - text: Wildrose Yodel Club - Alberta, Kanada
        url: "http://www.salranch-tours.com"
        blank: true

      - text: Jodlerklub Heimattreu Calgary
        url: "http://www.swissclubscalgary.com"
        red: true
        blank: true

  - titel: Weitere Links
    links:
      - text: Homepage Gemeinde Schwyz
        url: "https://www.gemeindeschwyz.ch/"
        blank: true

      - text: Unser Regional-Radio
        url: "https://www.radiocentral.ch/"
        blank: true

      - text: CD-Produktionen
        url: "https://phono-schop.ch/"
        blank: true
---

<section class="capped-width padded" id="top">
  <div class="center padded-b-2 margin-b-2 xs-margin-b-0 xs-margin-t-35">
    <h1>Links</h1>
  </div>

  <div class="links-wrapper">

    {% for gruppe in page.linkgruppen %}
      <div class="links-group">
        <h2>{{ gruppe.titel }}</h2>

        {% for link in gruppe.links %}
          {% assign link_classes = "" %}

          {% if link.verband %}
            {% assign link_classes = link_classes | append: " verband-link" %}
          {% endif %}

          {% if link.red %}
            {% assign link_classes = link_classes | append: " red" %}
          {% endif %}

          {% if link.url %}
            <a href="{{ link.url }}"
               class="{{ link_classes | strip }}"
               {% if link.blank %}target="_blank" rel="noopener"{% endif %}>
              {{ link.text }}
            </a>
          {% else %}
            <span class="{{ link_classes | strip }}">{{ link.text }}</span>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}

    <div class="center padded-t-2">
      <a href="#top" class="button">nach oben</a>
    </div>

  </div>
</section>


<style>
.links-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.links-group {
  text-align: center;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--dark);
}

.links-group h2 {
  margin-bottom: 1.5rem;
}

.links-group a,
.links-group span {
  display: block;
  margin-bottom: 0.45rem;
}

.links-group a {
  color: var(--dark);
  text-decoration: none;
}

.links-group a:hover {
  color: var(--medium);
}

.verband-link {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--medium) !important;
  margin-bottom: 1rem !important;
}

.webmaster p {
  text-align: center;
}
</style>