
<section class="bg-dark text-white">
  <header class="grid-middle capped-width">
    <div class="col-2_sm-6 relative">
      <div>
        <a href="/" class="header-logo"> <img src="/icons/echo-vom-mythen-logo.svg"> </a>
      </div>
    </div> 
    <nav class="col-10 hide-md right">
      <a href="/veranstaltungen.html"> Veranstaltungen </a>
      <a href="/chronik.html"> Chronik </a>
      <a href="/der-naturjodel.html"> Naturjodel </a>
      <a href="/musik.html"> Musik </a>
      <a href="/fotogalerie.html"> Fotogalerie </a>
      <a href="/aktuelles.html"> Aktuelles </a>
      <a href="/auftritt-buchen.html"> Auftritt buchen </a>
      <a href="/kontakt.html"> Kontakt </a>
    </nav> 
    <div class="col-6 right show-md">
      <div class="burger-button">
        <span class="burger-top"></span>
        <span class="burger-middle"></span>
        <span class="burger-bottom"></span>
    </div>
    </div>
  </header>
</section>

  
<div class="mobile-menu"> 
  <div class="mobile-logo">
    <img src="/icons/echo-vom-mythen-logo.svg">
  </div>
  <nav> 
      <a href="/"> Start </a>
      <a href="/veranstaltungen.html"> Veranstaltungen </a>
      <a href="/chronik.html"> Chronik </a>
      <a href="/der-naturjodel.html"> Der Naturjodel </a>
      <a href="/musik.html"> Musik </a>
      <a href="/fotogalerie.html"> Fotogalerie </a>
      <a href="/aktuelles.html"> Aktuelles </a>
      <a href="/auftritt-buchen.html"> Auftritt buchen </a>
      <a href="/kontakt.html"> Kontakt </a>
        <div class="nav-small-mobile">
        <a href="/probenplan.html"> Probenplan </a>
        <a href="/links.html"> Links </a>
        <a href="{{site.data.site-settings.social.instagram_url}}" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
      </div>
  </nav>

</div> 


<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 


<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 