
<section class="bg-dark text-white">
  <header class="grid-middle capped-width">
    <div class="col-3 relative">
      <div>
        <a href="/" class="header-logo"> <img src="/icons/echo-vom-mythen-logo.svg"> </a>
      </div>
    </div> 
    <nav class="col-9 hide-md right">
      <a href="/"> Start </a>
      <a href="/veranstaltungen.html"> Veranstaltungen </a>
      <a href="/chronik.html"> Chronik </a>
      <a href="/der-naturjodel.html"> Der Naturjodel </a>
      <a href="/musik.html"> Musik </a>
      <a href="/kontakt.html"> Kontakt </a>
    </nav> 
    <div class="col-7 right show-md">
      <div class="burger-button">
        <span class="burger-top"></span>
        <span class="burger-middle"></span>
        <span class="burger-bottom"></span>
    </div>
    </div>
  </header>
</section>

  
<div class="mobile-menu"> 
  <div class="mobile-logo">
    <img data-src="/images/logos/r-logo.png" class="lazy">
  </div>
  <nav> 
      <a href="/"> Start </a>
      <a href="/veranstaltungen.html"> Veranstaltungen </a>
      <a href="/chronik.html"> Chronik </a>
      <a href="/der-naturjodel.html"> Der Naturjodel </a>
      <a href="/musik.html"> Musik </a>
      <a href="/kontakt.html"> Kontakt </a>
  </nav>
</div> 


<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 


<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 